In [2]:
import pandas as pd
import matplotlib as plt

In [3]:
# getting traiuning data into python variable
train_data=pd.read_csv('data/train.csv')

In [4]:
# total number of passengers
total_passengers=len(train_data)
print "total number of passenngers",total_passengers

891

In [5]:
# total survived passengers
survived_passengrers_df=train_data[train_data['Survived']==1]
survived_passengrers_df[['PassengerId','Name']].to_csv('data/Survived_passengers.csv')
survived_passengrers=survived_passengrers_df.count()['Survived']
survived_passengrers

342

In [6]:
# proportion_survivors
proportion_survivors=survived_passengrers/float(total_passengers)
proportion_survivors

0.38383838383838381

In [7]:
# find out number of women and men count
total_male_female=train_data.Sex.value_counts()
total_male_female

male      577
female    314
Name: Sex, dtype: int64

In [8]:
# Number of survied passengers women and men count
survived_passengrers_female=train_data[(train_data['Survived']==1)                                       & (train_data['Sex']=='female')]
survived_passengrers_male=train_data[(train_data['Survived']==1)                                       & (train_data['Sex']=='male')]
survived_passengrers_female[['PassengerId','Name']].to_csv('data/survived_passengrers_female.csv')
survived_passengrers=train_data[train_data['Survived']==1].Sex.value_counts()
survived_passengrers

female    233
male      109
Name: Sex, dtype: int64

In [9]:
# men_proportion_survivors
men_proportion_survivors=total_male_female['male']/float(total_passengers)
men_proportion_survivors

0.6475869809203143

In [10]:
# women_proportion_survivors
women_proportion_survivors=total_male_female['female']/float(total_passengers)
women_proportion_survivors

0.35241301907968575

In [11]:
# Maximum fare?
max_fare=train_data['Fare'].max()
max_fare

512.32920000000001

In [12]:
# Min fare?
min_fare=train_data['Fare'].min()
min_fare

0.0

In [13]:
# passengerid with fare=0
fare_0=train_data[train_data['Fare']==min_fare][['PassengerId','Name','Fare']]
fare_0.to_csv('data/fare_0.csv')
fare_0

     PassengerId                              Name  Fare
179          180               Leonard, Mr. Lionel     0
263          264             Harrison, Mr. William     0
271          272      Tornquist, Mr. William Henry     0
277          278       Parkes, Mr. Francis "Frank"     0
302          303   Johnson, Mr. William Cahoone Jr     0
413          414    Cunningham, Mr. Alfred Fleming     0
466          467             Campbell, Mr. William     0
481          482  Frost, Mr. Anthony Wood "Archie"     0
597          598               Johnson, Mr. Alfred     0
633          634     Parr, Mr. William Henry Marsh     0
674          675        Watson, Mr. Ennis Hastings     0
732          733              Knight, Mr. Robert J     0
806          807            Andrews, Mr. Thomas Jr     0
815          816                  Fry, Mr. Richard     0
822          823   Reuchlin, Jonkheer. John George     0

In [14]:
# count of minfare passenges
fare_0.count()['PassengerId']

15

In [15]:
# passengerid with fare>400
faregt400=train_data[train_data['Fare']>400][['PassengerId','Name','Fare']]
faregt400.to_csv('data/faregt400.csv')
faregt400

     PassengerId                                Name      Fare
258          259                    Ward, Miss. Anna  512.3292
679          680  Cardeza, Mr. Thomas Drake Martinez  512.3292
737          738              Lesurer, Mr. Gustave J  512.3292

In [16]:
# passengerid with fare>400 count
faregt400.count()['PassengerId']

3

In [17]:

train_data.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [22]:
# class wise classification
class_classification=train_data.Pclass.value_counts()
class_classification

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [32]:
# 3rd class survived people
survived_3rdclass=train_data[(train_data['Pclass']==3) & (train_data['Survived']==1)]
survived_3rdclass.to_csv('survived_3rdclass.cv')
survived_3rdclass.count()['PassengerId']

119

In [33]:
# 2nd class survived people
survived_2ndclass=train_data[(train_data['Pclass']==2) & (train_data['Survived']==1)]
survived_2ndclass.to_csv('survived_2ndclass.cv')
survived_2ndclass.count()['PassengerId']

87

In [34]:
# 1st class survived people
survived_1stclass=train_data[(train_data['Pclass']==1) & (train_data['Survived']==1)]
survived_1stclass.to_csv('survived_1stclass.cv')
survived_1stclass.count()['PassengerId']

136

In [50]:
#class_wise_proportion
df_t=train_data.groupby('Pclass').count()['PassengerId']
df_s=train_data[train_data['Survived']==1].groupby('Pclass').count()['PassengerId']

pd.DataFrame(df_s/df_t,columns=["PassengerId"],index=[1,2,3])

   PassengerId
1     0.629630
2     0.472826
3     0.242363